.responsible-item {
  border: 1px solid black;
  background-color: #DDDDDD;
  border-radius: 4px;
  margin: 12px;
  display: flex;
  flex-direction: row;
}

.responsible-item-row {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.responsible-item-info {
  display: flex;
}

.responsible-item-info-desktop {
  flex-direction: row;
}

.responsible-item-info-mobile {
  flex-direction: column;
}

.responsible-item-actions {
  display: flex;
  flex-direction: row;
}

.responsible-item-text-bolder {
  padding: 4px;
  font-weight: bolder;
}

.responsible-item-text {
  padding: 4px;
}

.responsible-icon {
  padding: 12px;
  cursor: pointer;
}