.responsible-detail-area {
  padding: 12px;
}

.responsible-detail-area-mobile {
  padding: 18px;
}

.responsible-detail-title {
  flex-grow: 1;
}

.responsible-detail-title-mobile {
  font-size: 44px;
}

.responsible-detail-title-desktop {
}

.responsible-detail-block {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
}

.responsible-button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: lightgray;
  margin: 12px;
  cursor: pointer;

  &:hover {
    background-color: darkgray;
  }

  &:active {
    color: white;
    background-color: gray;
  }
}
