.responsible-query-area {
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.responsible-query-area-mobile {
  padding: 18px;
}

.responsible-query-title {
  flex-grow: 1;
}

.responsible-query-title-mobile {
  font-size: 44px;
}

.responsible-create {
  cursor: pointer;
  width: 40px;
}

.query-dashed-sep {
  margin: 0 12px 12px 12px;
  border-style: dotted none none none;
}

.quering-area {
  display: flex;
  padding: 16px;
  margin-bottom: 8px;
}

.quering-area-mobile {
  flex-direction: column;
}

.quering-area-desktop {
  flex-direction: row;
}

.quering-item {
  padding: 8px;
}

.query-button {
  background-color: #DDDDDD;
  border-radius: 4px;
  border: 1px solid black;
  height: 42px;
  margin-top: 28px;
  cursor: pointer;
}