.header-area {
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.header-area-mobile {
  padding: 28px;
}

.header-area-desktop {
  padding: 4px;
}

.header-logo {
  background-color: gray;
  color: white;
  border-radius: 4px;
  border-color: black;
  padding: 8px;
  margin: 8px;
}

.header-logo-mobile {
  font-size: 48px;
}

.responsible-header-item {
  background-color: lightgray;
  color: black;
  border-radius: 4px;
  border-color: black;
  padding: 8px;
  margin: 8px;
}