.pagination-area {
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pag-button {
  border-radius: 4px;
  border: 1px solid black;
  background: #DDDDDD;
  cursor: pointer;
}

.pag-button-desktop {
  width: 32px;
  height: 32px;
  font-size: 14px;
}

.pag-button-mobile {
  width: 72px;
  height: 72px;
  font-size: 62px;
  flex: auto;
}