.soft-text-large {
  font-family: Roboto;
  letter-spacing: 4px;
  font-size: larger;
}

.soft-text-small {
  font-family: Roboto;
  letter-spacing: 2px;
  font-size: larger;
}

.soft-text-normal {
  font-family: Roboto;
  letter-spacing: 0px;
  font-size: larger;
}

body {
  margin: 0;
  overflow: hidden;
}

.srd-diagram {
  height: 400px;
}

.group {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.mob-fs {
  font-size: 28px;
}

.d-fs {
  font-size: 14px;
}