
.responsible-detail-input-item {
  flex: auto;
}

.responsible-detail-input-text {
}

.responsible-detail-block-input-area {
  padding: 12px;
}

.responsible-detail-block-input-date {
  border-radius: 4px;
  border: 1px solid black;
  width: calc(100% - 12px);
  padding: 12px 12px 12px 0;
}

.responsible-calendar {
  width: 400px;
}